@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Inter:wght@200;300;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
}

.container {
    padding-right: 0px !important;
}

.btn-sm {
    font-weight: 700 !important;
    border: 1px solid rgb(172, 172, 172) !important;
    border-radius: 18px !important;
    background-color: #fff !important;
    color: #7C7B7A !important;
}

.btn-active {
    border-color: #FFEDEA !important;
    background-color: #FFEDEA !important;
    color: #EA1D2C !important;
}

.sub-menu {
    overflow: auto;
    white-space: nowrap;
}

.sub-menu button {
    display: inline-block;
}

.sub-menu::-webkit-scrollbar {
    display: none;
}

.card-receitas {
    background-color: #EA1D2C !important;
    width: 97%;
    height: 5.625rem;
    margin-top: 1.538rem;
    border-radius: 1rem !important;
}

.left {
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35%;
    background-color: #C90016 !important;
}

.right {
    color: #ffffff;
    font-weight: 500;
    width: 65%;
    background-color: #EA1D2C;
    border-radius: 1rem;
}

.right p:nth-child(1) {
    margin-right: 1.875rem;
}

.right p:nth-child(2) {
    margin-right: 2.175rem !important;
}

.card-chefs {
    overflow: auto;
    margin-top: 2.125rem;
}

.card-chefs::-webkit-scrollbar {
    display: none;
}

.card-chefs img {
    width: 6rem;
}

.card-chefs p {
    font-size: 0.75rem;
    /* white-space: nowrap; */
    font-weight: 800;
    color: #7C7B7A !important;
}

.card-aprenda {
    border: none !important;
    width: 97%;
    height: 5.625rem;
    background-color:#F8F8F8 !important;
}

.qrcode img {
    width: 3rem;
    height: 3rem;
}

.titulo h4 {
    font-weight: 600;
    margin: 0;
}

.paragrafo p {
    margin: 0;
    font-size: 0.85rem;
}

.text {
    width: 15rem;
    height: 4rem;
}

.card-receitas-classicas {
    overflow: auto;
    margin-top: 2.125rem;
}

.card-receitas-classicas::-webkit-scrollbar {
    display: none;
}

.card-receitas-classicas img {
    width: 4.12rem;
}

.card-receitas-classicas p {
    font-size: 0.75rem;
    text-align: center;
    /* white-space: nowrap; */
    font-weight: 800;
    color: #7C7B7A !important;
}

.card-veganas {
    overflow: auto;
    margin-top: 2.125rem;
}


.card-veganas::-webkit-scrollbar {
    display: none;
}

.card-veganas img {
    width: 4.12rem;
}

.card-veganas p {
    font-size: 0.75rem;
    text-align: center;
    /* white-space: nowrap; */
    font-weight: 800;
    color: #7C7B7A !important;
}

.cards-cards {
    overflow: auto;
}

.card-receitas-anteriores {
    border: none !important;
}

.logo img{
    width: 6rem;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5rem;
    background-color: #ffffff;
    color: #A4A19F;
    text-align: center;
    border-top: 1px solid #EFEFEF;
}

.header {
    z-index: 100;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 4.5rem;
    background-color: #ffffff !important;
    color: #000000;
    text-align: center;
    border-bottom: 1px solid #EFEFEF;
}

li::marker {
    padding: 0 !important;
}

